.CVForm {
    text-align: center;
}

.CVcontainer {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.CVFormDiv {
        
    border: solid 3px black;
}

.printButton {
    margin: 10px;
}